body {
  display: flex;
}

.containerN {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se coloquen en varias filas */
}

.blancas {
  height: 200px;
  width: 50px;
  background: rgb(225, 3, 3);
}

.negras {
  z-index: 1;
  height: 100px;
  background: black;
  color: wheat;
  margin-right: 10px; /* Ajustar el margen derecho para separar las cajas negras */
  margin-bottom: 10px; /* Ajustar el margen inferior para separar las cajas negras */
}
